In [2]:
import pandas as pd
df = pd.read_csv("../data/raw/login_history.csv")
df.head()

,login_id,user_id,ip_address,device_id,login_time,login_result,risk_score,decision
0,1,cao.viet.bac,10.0.79.225,Samsung_Internet,2026-01-30T10:26:39.279037,True,0,PENDING
1,2,nguyen.hoang.thienanh,113.190.45.24,Edge_Windows_10,2026-01-27T08:07:39.279037,True,0,PENDING
2,3,nguyen.hoang.thienanh,113.190.45.23,Edge_Windows_10,2026-01-27T14:23:39.279037,True,0,PENDING
3,4,cao.viet.bac,27.72.88.101,Samsung_Internet,2026-01-27T09:35:39.279037,True,0,PENDING
4,5,cao.viet.bac,27.72.88.101,Safari_iPhone_14,2026-01-28T16:02:39.279037,True,0,PENDING

In [3]:
df["user_id"].value_counts()

user_id
nguyen.hoang.thienanh    64
cao.viet.bac             48
nguyen.viet.anh          38
Name: count, dtype: int64

In [4]:
df.groupby("user_id")[["ip_address", "device_id"]].nunique()

                       ip_address  device_id
user_id
cao.viet.bac                   11          4
nguyen.hoang.thienanh          13          5
nguyen.viet.anh                 9          5